requests

# alternatively you could use selenium.dev to automate the web browser
#selenium

# another option is using google cloud, especially useful if your form requires a login
# developers.google.com/forms/api
#flask
#google-api-python-client
#google-auth
#google-auth-oauthlib
#google-auth-httplib2
